* 

.content{
    max-width: 500px;
    margin: auto;
}

.profile-picture { 
    width: 350px;
    length: 350px;
}

img {
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 5px 10px #888888;
    border: 7px solid purple;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/Users/breeannbolinsky/Alchemy-Code-Lab/Alchemy-201/lab01-about-me/assets/119.jpg); 
    background-color: rgb(181, 144, 219);

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    font-size: 30px;
}

ul {
    color: darkslategray;
}

ol {
    color: darkslategray;
}

section { 
    object-position: center;
    border-radius: 25px;
    width: 700px; 
    border: 7px solid purple; 
    padding: 25px; 
    margin: 20px auto;
    background-color: rgb(185, 252, 252); 
    color: darkslategray;
    box-shadow: 5px 10px #888888;
}


button { 
    background-color: lightskyblue;
    border-radius: .15em;
    border: none; 
    color: white;
    padding: 0.7em 1.4em; 
    margin 0 0.3em 0.3em 0; 
    box-sizing: border-box;
    text-decoration: none; 
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: relative;
}
